* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Lora', serif;
}

body {
    background: hsla(205, 46%, 10%, 1);
}

header {
    padding: 5px 10%;
    background-color: #333;
}

.navbar-me {
    background-color: #333 !important; 

  }

  nav img {
    width: 52px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: auto;
}

 nav img:hover {
    transform: scale(1.2);
}
  
  nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  
  li {
    margin: 0 10px;
  }
  
  .link-devices a {
    color: #fff; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: bold; 
    padding: 10px; 
    transition: all 0.3s ease;
  }
  
 .link-devices a:hover {
    background-color: #fff; 
    color: #333;
 }

 .btn-rsp {
  background-color: #747474;
  color: #fff;
 }


 .section-img div {
    background-image: url(../images/foto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 42.95em;
    width: 100%;
}

.section-img div {
    text-align: center;

}
.h1-image h1 {
    padding-top: 7em;
    font-size: 3em;
    color: aliceblue;
}

.p-img {
  padding: 3px;
  font-size: 1em;
  color: rgba(240, 248, 255, 0.637);
}

.abd-me {
  background-color: #5c5c5c52;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 100%;
}

.ab-me div {
  margin: 10px auto;
  display: flex;
}

.abd-me p {
  font-size: 1.25rem;
}

.section-cto {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-cto img {
  width: 65px;
  height: 65px;
  display: flex;
}

.form-cto {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: #fff 3px solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.281);
  padding: 80px 10px 80px 10px;
  margin: 20px;
  height: 400px;
  width: 300px;
}

input {
  display: block;
  background-color: #0000006e;
  color: #8b8b8b;
  border-radius: 5px;
  padding: 12px;
}

.pass-cto {
  margin: 5px;
}

.btn-cto {
  padding: 8px;
  margin-top: 7px;
  background-color: #747474;
  color: #fff;
  cursor: pointer;
  border-radius: 10%;
}

.cto-h1 {
  background-color: #fffafa67;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cto-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #ffffff63;
  padding: 5px;
  border-radius: 19px;
  margin: 3px;
  height: 100px;
  width: 250px;
}

.cto-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3-cto {
  background-color: #000000;
  color: #ffffff9f;
  text-align: center;
  margin: 5px;
  border-radius: 16px;
}

.cto-link {
  margin: 15px 0px;
}

.h1-skills {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.h2-skills {
  text-align: center;
}

.skills-cnt, .skills-cnt-2 {
  background-color: #ffffff7a;
  border: 1px solid #000;
  text-align: center;
  padding: 15px 0;
  height: 100%;
  width: 420px;
}

 .skills-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

footer {
  background-color: #ffffff;
  font-size: 12px;
  padding: 10px;
}

h3 {
  font-size: 16px;
}

footer a {
  color: #747474;
  text-decoration: none;
}

.Utiles-Footer {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 0;
  align-items: flex-start;
  text-align: center;
}

.Redes-Footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Contacto-Footer {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  
}

.footer-class {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.derechos {
  padding-top: 8px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.derechos {
  display: flex;
  justify-content: center;
}