header {
    padding: 5px 10%;
    background-color: #333;
}

.navbar-me {
    background-color: #333 !important; 

  }

  nav { 
    img  {
      width: 52px;
      height: 50px;
      cursor: pointer;
      transition: all 0.3s;
      margin-right: auto;
  }    
}

 nav {
  img:hover {
    transform: scale(1.2);
  }
}
  
  nav {
    ul {
      list-style: none; 
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
  }
  
  li {
    margin: 0 10px;
  }
  
  .link-devices {
    a {
      color: #fff; 
      text-decoration: none; 
      font-size: 18px; 
      font-weight: bold; 
      padding: 10px; 
      transition: all 0.3s ease;
    }
  }
  
 .link-devices {
  a:hover {
      background-color: #fff;
      color: #333;
  }
 }